/* ---------------------------------------------------------
   Page content
--------------------------------------------------------- */

.page-content {
    padding: 1rem 0.15rem 0.1rem;
    flex: 1;
}
